.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
application/views/aktif/detail_cpy1.php
assets/img/datul/npwp/npwp-8001147451-Abdul_Bahri-1710384398.pdf
assets/img/dok_pendukung/dok_pendukung_.jpg
assets/img/dok_pendukung/dok_pendukung_1.jpg
assets/img/dok_pendukung/dok_pendukung_5706.png
assets/img/dok_pendukung/dok_pendukung_5707.jpg
assets/img/dok_pendukung/dok_pendukung_5708.jpeg
assets/img/dok_pendukung/dok_pendukung_125399167.jpeg
assets/img/dok_pendukung/dok_pendukung_125399167.jpg
assets/img/dok_pendukung/dok_pendukung_1253991671.jpg
assets/img/dok_pendukung/dok_pendukung_1253991672.jpg
assets/img/dok_pendukung/dok_pendukung_1253991673.jpg
assets/img/dok_pendukung/dok_pendukung_1253991674.jpg
assets/img/dok_peserta_aktif/CV_Muhammad_Fuadiy_(122023).pdf
assets/img/kk/Idul_fitri_A4.png
assets/img/kk/kk_125399167.pdf
assets/img/kk/kk_125399167.png
assets/img/ktp/371799-PBLFD8-70.jpg
assets/img/ktp/3788760.jpg
assets/img/ktp/ktp_125399167.jpg
assets/img/ktp/ktp_1253991672.jpg
assets/img/ktp/LOGO_BPJSTK2_(3).jpg
assets/img/sk/sk_125399167.pdf
assets/img/sk/sk_125399167.png
